.container{
    max-width: 400px;
    margin:30px auto;
    padding: 20px;
    background-color: #f7f7f78a;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.048);
}
h1 {
    text-align: center;
}
.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  input[type="password"], input[type="name"] {
    width: 100%;
    padding: 8px;
  }
  
  
.btn-primary{
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    background:linear-gradient(-340deg,rgb(255, 230, 3),rgb(255, 153, 0) ,rgb(255, 94, 0));
}
